.listwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photoList {
  padding-top: 60px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 20px;
}
